@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
p {
  font-weight: lighter; }

.parrafo1 {
  font-size: 0.8em;
  color: #cecece; }

.parrafo2 {
  font-size: 1.6em;
  color: white; }

.parrafo3 {
  font-size: 2.4em;
  color: white; }

.parrafo4 {
  font-size: 3.2em;
  color: white; }

.parrafo5 {
  font-size: 4em;
  color: white; }

.parrafo6 {
  font-size: 4.8em;
  color: white; }

footer {
  background-color: #000000;
  color: white;
  width: 100%;
  height: 80px;
  padding: 50px 0 0 0; }

footer h3 {
  font-size: 1rem;
  text-align: center;
  letter-spacing: 2px; }

.grid-container {
  padding-top: 50px;
  display: grid;
  margin: 50px 40px 40px 40px;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(4, 300px);
  gap: 1px 1px;
  text-align: center;
  justify-content: stretch;
  font-size: 1rem;
  grid-template-areas: 
  "bannerUno bannerUno bannerUno"
  "servicioUno servicioDos servicioTres"
  "servicioUno servicioDos servicioTres"
  "servicioCuatro servicioCuatro servicioCuatro"; }

.bannerUno {
  grid-area: bannerUno;
  flex: 1;
  text-shadow: rgb(0, 0, 0) -1px -1px 3px;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.096); }

.servicioUno {
  grid-area: servicioUno;
  flex: 1;
  background-color: #94adac71;
  padding-top: 35px; }

.servicioDos {
  grid-area: servicioDos;
  flex: 1;
  background-color: #94adacad;
  padding-top: 35px; }

.servicioTres {
  grid-area: servicioTres;
  flex: 1;
  background-color: #748f8dad;
  padding-top: 35px; }

.boton {
  background-color: black;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10%;
  padding: 8.33333px; }

.box__img {
  width: 400px;
  height: 300px; }

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%; }

.hero {
  width: 400px;
  height: 400px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/servicios1.jpg); }

.social {
  list-style-type: none; }

.facebook {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-image: url("../assets/facebook.png"); }

.instagram {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-image: url("../assets/instagram.png"); }

.whatsapp {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: contain;
  background-image: url("../assets/whatsapp.png"); }




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif, 'Open Sans';
}
  
/*.................................................................Menu superior*/
.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  background: radial-gradient(rgba(0, 0, 0, 0.63), rgb(0, 0, 0));
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.container .btn-menu,
.logo {
  float: left;
  line-height: 100px;
}

.container .btn-menu label {
  color: rgb(96, 149, 151);
  font-size: 25px;
  cursor: pointer;
}

.logo h1 {
  color: #fff;
  font-weight: 400;
  font-size: 25px;
  margin-left: 10px;
}

.container .menu {
  float: right;
  line-height: 100px;
}

/*.................................................................Transition: tiempo*/
.container .menu a {
  display: inline-block;
  padding: 10px;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  margin-right: 5px;
}

/*.................................................................Transformaciones Hover*/
.container .menu a:hover {
  border-bottom: 2px solid #1a6969;
  padding-bottom: 5px;
}


/*.................................................................Inicio menù lateral*/
#btn-menu {
  display: none;
}

/*.................................................................Sombra menú lateral*/
.container-menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  background: radial-gradient(rgba(0, 0, 0, 0.63), rgb(0, 0, 0));
  width: 100%;
  height: 200vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

#btn-menu:checked~.container-menu {
  opacity: 1;
  visibility: visible;
  z-index: 1;

}

.cont-menu {
  width: 90%;
  max-width: 250px;
  background: #000000;
  background: radial-gradient(rgba(20, 20, 20, 0.63), rgb(0, 0, 0));
  height: 200vh;
  position: fixed;
  text-align: center;
  transition: all 2000ms ease;
  transform: translatex(-100%);
}

#btn-menu:checked~.container-menu .cont-menu {
  transform: translateX(0%);
}

.cont-menu nav {
  transform: translateY(9%);
}

.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 18px;
  color: #ffffff;
  border-right: 2px solid rgb(0, 0, 0);
  transition: all 600ms ease;
}

/*.................................................................Gradiente*/
.cont-menu nav a:hover {
  border-left: 1px solid #000000c5;
  background: #b9b9b9c9;
  background: linear-gradient(to left, rgba(160, 160, 160, 0.644), rgba(0, 0, 0, 0.637));
  transform: scale(1.05);
}

.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}
/*.................................................................FIN DE MENU SUPERIOR Y LATERAL*/
/*.................................................................FIN DE MENU SUPERIOR Y LATERAL*/

.slogan--Uno {
  text-align: center; 
}

#subSer{
  padding-top: 20px;
}

#parrafoSer{
  padding-top: 15px;
  margin: 20px 20px 20px 20px;
  text-align: center;
}